name: Compile SWF

on: [push, pull_request]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: joshtynjala/setup-adobe-air-action@v2
        with:
          air-version: "50.0"
          accept-license: true
      - name: Compile SWF
        run: |
          mxmlc -output bin/GithubActionsExample.swf src/Main.as
